<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/title.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				歡迎來到行動腦震盪測試
			</p>
		</div>
		<div class="row">
			<p>
				請登入後再操作
			</p>
		</div>
	</div>
	<div class="footer">
	  <span class="footerLeft" style="float:left;">Version:0.0.1a</span>
		<span calss="footerRight" style="float:right;">By Ubiwell.org</span>
  </div>
</section>
