<section data-ng-controller="AppusersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="appuser._id"></h1>
        <div>
            <label class="control-label">編號：</label>
            <span data-ng-bind="appuser.id"></span>
            <br/>
            <label class="control-label">受傷日期：</label>
            <span data-ng-bind="appuser.incidentDate"></span>
            <br/>
            <label class="control-label">電子郵件（通知）：</label>
            <span data-ng-bind="appuser.email"></span>
            <br/>
        </div>
	</div>
	<div class="pull-right" data-ng-show="true">
		<a class="btn btn-primary" href="/#!/appusers/{{appuser._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="appuser.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="appuser.user.displayName"></span>
		</em>
	</small>
</section>
